<h1><%= @cohort.name %></h1>

<dl>
  <dt>Start Date</dt>
  <dd><%= @cohort.start_date %></dd>
  <dt>Graduation Date</dt>
  <dd><%= @cohort.graduation_date || "–" %></dd>
</dl>

<a href={~p"/admin/cohorts/#{@cohort.id}/edit"} class="btn btn-secondary">Edit</a>
<a href={~p"/admin/cohorts"} class="btn btn-link">Back to Cohorts</a>
